.menu{
    
}

.menu ul{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: beige;
}

.menu ul li{
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a{
    text-decoration: none;
    display: inline-block;
    background-color: rgb(191, 130, 50);
    padding: 5px 10px;
    color: blanchedalmond;
}

